<div class = "container-fluid text-center" id="page-content">



  <div class="row">
    <div class="col-lg-5 shadow-lg p-3 mb-5 rounded" id="task-container-1">
      <h1>All Accounts</h1>
        <div class="dropdown">
          <div class="text-right">
            Sort By
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Default
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Roomate</a>
                <a class="dropdown-item" href="#">Date</a>
                <a class="dropdown-item" href="#">Importance</a>
              </div>
            </div>

          </div>
          <ul class="list-group">
            <% @users.each do |user| %>

                <li class="list-group-item list-group-item-light">
                    <%= link_to user.firstName + " " +user.lastName, user_path(user) %>

                    <% if user.house == nil %>
                      <div class="text-right">

                        <%= link_to "Invite User to house", addToHouse_path(:user => user.id), class: "text-black btn btn-primary btn-large btn-outline-dark" %>

                      </div>
                    <% else %>
                      <div class="text-right">

                          <p><strong><%= user.firstName %> currently lives at <%= user.house.name %></strong></p>

                      </div>

                    <% end %>

                </li>

            <% end %>
          </ul>
          <br>

    </div>

  </div>



</div>
