
  <% if current_user.house != nil  && current_user.house.payments.count > 0 %>
    <div class="col-lg-5 shadow-lg p-3 mb-5 rounded" id="task-container-1">
      <h1>Completed payments</h1>
        <div class="dropdown">
          <div class="text-right">
            Sort By
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Default
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Roomate</a>
                <a class="dropdown-item" href="#">Date</a>
                <a class="dropdown-item" href="#">Importance</a>
              </div>
            </div>

          </div>
          <ul class="list-group">
            <% @payments.each do |payment| %>
              <%if payment.completed && payment.approved %>
                <li class="list-group-item list-group-item-success text-left">
                    <%= link_to payment.title, payment_path(payment), class: "text-info" %>
                    <small>Assigned to <%= User.find(payment.assignedUser).firstName%> <%= time_ago_in_words( payment.startDate) %></small>
                    <div class="text-right">
                      <strong>Due </strong> <%= time_ago_in_words( payment.dueDate) %> ago




                    </div>

                </li>
              <% end %>
            <% end %>
          </ul>
          <br>

    </div>




    <% else %>
    <% end %>
