<div class = "container-fluid text-center" id="page-content">



  <div class="jumbotron text-center">
      <h1 class="display-2 " >GoodRoomate</h1>
      <p class="lead text-white bg-dark">Welcome to GoodRoomate. An easy way to keep roomates accountable for daily tasks, monthly payments, and other useful things
                      <br>It is free and easy to use!.</p>


      <%= link_to "Sign Up!", signup_path, class: "btn btn-secondary btn-lg btn-outline-light" %>
    </div>



</div>
