<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Enzo </small>
      <br>
      <%= link_to "House Home", houseStatus_path %>
     |
      <%= link_to "About page", houseStatus_path %>
    </div>
</footer>
